@mixin chats-table-row {
  display: grid;
  grid-template-columns: 48px 180fr 180fr 280fr 180px 180px 180fr 84px;
}

.header {
  @include chats-table-row;
  @include compact-table-header-row;
}

.headerCell {
  @include table-header-cell;
  min-width: 0;
}

.row {
  @include chats-table-row;
  @include compact-table-row;
}

.rowCell {
  @include table-cell;
  @include text-size-body-2;
  font-weight: 600;
  display: flex;
  align-items: center;
  min-width: 0;
}

.rowCellStatus {
  text-transform: capitalize;
}
