@mixin edit-operators-table-row {
  display: grid;
  grid-template-columns: 400fr 400fr 70px;
}

.table {
  margin-top: 40px;
  width: min(100%, 870px);
  padding-bottom: 100px;
}

.tableHeader {
  @include edit-operators-table-row;
  margin-bottom: 6px;
  border-bottom: 1px solid var(--color-border-primary);
}

.tableHeaderCell {
  @include table-header-cell;
  min-width: 0;
}

.tableRow {
  //@include outline-table-row;
  @include edit-operators-table-row;
  border-bottom: 1px solid var(--color-blue-light);

  &:not(:last-child) {
    margin-bottom: 4px;
  }
}

.tableCell {
  @include table-cell;
  min-width: 0;
  display: flex;
  align-items: center;
}

.tableCellName {
  @include text-size-body-1;
  font-weight: 600;
}

.trashButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: transparent;
  padding: 7px;
  cursor: pointer;

  &:hover path{
    stroke: var(--color-blue);
  }
}

.prioritySelect{
  width: min(100%, 300px);
}
